<h1>Add a picture</h1>
<%= form_tag "/pictures" do %>
	<p>
		<%= label_tag "artist" %><br>
		<%= text_field_tag "artist"%><br>
	</p>
	<p>
	<p>
		<%= label_tag "title" %><br>
		<%= text_field_tag "title"%><br>
	</p>
	<p> 
	<p>
		<%= label_tag "url" %><br>
		<%= text_field_tag "url"%><br>
	</p>
	<p>
		<%= submit_tag "Save Picture" %>
	</p>
<% end %>